<div class="container phone-container">
  <h4 class="name-phone">{{product.title}}</h4>
  <hr>
  <div class="row">
    <div class="col-lg-4 phone">
      <img id="img-phone" src="{{product.imageUrl}}" alt="dt">
    </div>
    
    <div class="col-lg-5 area-buy" bgcolor="#fff" style="margin-left: 10px; padding-right: 5px;">
      <div class="area-price">
        <strong>{{product.price}}₫</strong>
      </div>
      <br>
      <!-- Trigger/Open The Modal -->
      <button type="button" class="btn btn-sm btn-block" id="myBtn">SẢN PHẨM NHẬN GIAO HÀNG TRONG 1H</button>
      <!-- The Modal -->
      <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <p>Sản phẩm áp dụng: Tất cả các sản phẩm Điện thoại, Máy tính bảng mới đang kinh doanh tại hệ thống
            <br>Phạm vi áp dụng: Toàn quốc
            <br><strong>1.Giao hàng trong 1 giờ</strong>
            <br>Giao hàng trong 1 Giờ từ 8h đến 21h hàng ngày.
            <br>Giao hàng trong vòng 1 giờ cho Khách hàng mua Online giao hàng tận nơi trên toàn quốc đối với các sản phẩm điện thoại, máy tính bảng.
            <br><strong>2. Xác định việc giao trễ trong 1 giờ:</strong>
            <br>Dựa trên thời gian đến nhà Khách hàng so với thời gian hẹn giao trên hóa đơn.
            <br>Nếu giao trễ, khách hàng sẽ nhận được Voucher 100.000đ (Áp dụng mua tất cả sản phẩm (trừ sim số, thẻ cào) tại hệ thống cửa hàng FPT Shop. Mã voucher sẽ được tự động gửi tin nhắn đến Số điện thoại mua hàng của Khách hàng trong vòng 24h kể từ khi hoàn tất giao hàng (nếu trễ).
          </p>
        </div>
      </div>
      <br>
      <div class="area-promo"> 
        <strong id="promo-title">Khuyến mãi đặc biệt (SL có hạn)</strong>
        <div class="promo-container">
          <ul class="list-promo">
            {{# each product.promotion}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
      <br>
      <div class="area-order">
        <div class="row">
          <div class="col-xs-4" style="padding: 0">
            <div class="input-group number-spinner">
              <span class="input-group-btn">
                <button class="btn btn-default" data-dir="dwn" onclick="setQuantity('down');"><span class="fa fa-minus"></span></button>
              </span>
              <div>
                <input type="text" id="quantity" class="form-control text-center" style="padding: 0px" value="1">
              </div>
              <span class="input-group-btn">
                <button class="btn btn-default" data-dir="up" onclick="setQuantity('up');"><span class="fa fa-plus"></span></button>
              </span>
            </div>
          </div>
          <div class="col-xs button-cart">
            <button class="btn btn-md" style="color: white; background-color: #ff3945; border-radius: 8px; box-shadow: none;">
              <i class="fa fa-shopping-cart" style="color:white"></i> Thêm vào giỏ hàng</button>
            </div>
          </div>
      </div>

    </div>
    <div class="col-lg-2 policy">
      <!-- <p>Thông tin phụ</p> -->
      <div>
        <br>
        <strong>Trong hộp có: </strong> <br>
        <p>{{product.boxing}}</p>
        <strong>Mobistore cam kết: </strong> <br>
        <ul class="list-policy" style="margin-left: 2px; padding-left: 0px">
          <li><img src="https://img.icons8.com/nolan/64/000000/warranty-card.png" height="23px" width="23px"></a>Hàng chính hãng</li>
          <li><img src="https://img.icons8.com/nolan/64/000000/security-checked.png" height="23px" width="23px"></a>Bảo hành 12 tháng</li>
          <li><img src="https://img.icons8.com/nolan/64/000000/free-shipping.png" height="23px" width="23px"></a>Giao hàng miễn phí toàn quốc trong vòng 2 giờ</li>
          <li><img src="https://img.icons8.com/nolan/64/000000/near-me.png" height="23px" width="23px"></a>Bảo hành nhanh tại Mobi Store trên toàn quốc
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-8 col-lg-8">
      <h4>Đặc điểm nổi bật của {{product.title}}</h4>
      <hr>
      <div class="product-description">
        {{{product.description}}}
      </div>
      <hr>
      <h4>Bình luận của khách hàng</h4>
      <div class="comments">
        <form method="POST" onsubmit="return postComment(event)">
          <div class="tlt-cmt">
            <div class="cmt-username">
              Tên của bạn:
              <input type="text" id="input-name" placeholder="Nhập tên của bạn"/>
            </div>
            <div class="cmt-content">
              Bình luận của bạn:
              <textarea id="txt-editor" class="txt-comment" placeholder="Mời bạn để lại bình luận..."></textarea>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-comment">Gửi</button>
        </form>
        {{> comment comments}}
      </div>
    </div>
    <div class="specification-detail col-4 col-lg-4">
      <h4>Thông số kỹ thuật </h4> <hr>
      <ul>
        {{# each product.specification}}
          <li><label>{{@key}}:</label> <span>{{this}}</span></li>
        {{/each}}
      </ul>
    </div>
  </div>
  <br>
</div>